<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013257010132-lh5nolfgpoueklbkpcolda0tck9fdeq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013257010132-lh5nolfgpoueklbkpcolda0tck9fdeq8</string>
	<key>API_KEY</key>
	<string>AIzaSyAh-ygsN3JJLJqoFxBGgpqPeBtErRZIfkI</string>
	<key>GCM_SENDER_ID</key>
	<string>1013257010132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whospick.app.actor</string>
	<key>PROJECT_ID</key>
	<string>whospick-1140c</string>
	<key>STORAGE_BUCKET</key>
	<string>whospick-1140c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013257010132:ios:df08bcb9ab17b857db3441</string>
	<key>DATABASE_URL</key>
	<string>https://whospick-1140c.firebaseio.com</string>
</dict>
</plist>